body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

.message-container {
    margin-top: 42px;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

.nav-link:hover {
    cursor: pointer;
    color: #fff;
    background-color: #505050;
}

.bg-faded {
    background-color: #f7f7f7;
}
